<footer>
    <div class="banners" >
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
                src="https://jigsaw.w3.org/css-validator/images/vcss"
                alt="Valid CSS!" />
	</a>
        <a href="http://validator.w3.org/feed/check.cgi?url=https%3A//www.dextersig.ca/blog/rss.xml">
	    <img 
		    src="/media/valid-rss-rogers.png" 
		    alt="[Valid RSS]" 
		    title="Validate my RSS feed" 
	    />
        </a>
	<img
	    src="/media/cdaweb.gif"
	    alt="Canadian on the Web!"
	/>
    </div>
    <p>&copy;2025 dextersig </p>
</footer>
