<header>
    <h1>dextersig</h1>
    <nav>
    <ul>
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">home</a></li>
        <li class="{% if page.url == '/blog/' %}active{% endif %}"><a href="/blog">blog</a></li>
        <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="/contact">contact</a></li>
    </ul>
    </nav>
</header>