<div class="webring" >
    <p><b><<</b></p>
    <a id="back-link" href="#"><p><b>Back</b></p></a>
    <p id="title"><b>"Official" CSSA Webring</b></p>
    <a id="forward-link" href="#"><p><b>Next</b></p></a>
    <p><b>>></b></p>
</div>

<script src="/js/webringLinks.js"></script>