:root{
    --navbar-shift-time: 0.24s;
    --primary-color-dark: #1a000d; 
    --primary-color-light: #d6ccd1;
    --primary-color-main: #33001a;
    --secondary-color-dark: #3c553c;
    --secondary-color-light: #bbd5bb;
    --secondary-color-main: #77aa77;
}

body {
    background-color: var(--primary-color-main);
    border: 0;
    color: var(--primary-color-light);
    display: flex;
    font-family: "Quicksand", "Arial", "sans-serif";
    flex-direction: column;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    overflow-x:hidden;
    overflow-y: scroll; /*Stop bouncing around when switching pages*/
    padding: 0;
}

a {
    color: var(--secondary-color-light);
}

a:hover {
    color: var(--secondary-color-main);
}

a:focus {
    outline-color: var(--primary-color-light);
}

img {
    max-width: 50vw;
}

/* Header Styles */
header{
    align-items: center;
    background-color: var(--primary-color-dark);
    border-radius: 0 0 2.5vw 2.5vw;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    outline: 1px solid var(--secondary-color-dark);
    position: sticky;
    top: 0;
    width: 100vw;
}

header h1 {
    color: var(--secondary-color-light);
    font-size: 3rem;
    font-weight: bold;
    margin-left: 2vw;
    text-align: center;
}

/* Nav Styles */
header nav {
    margin-right: 2vw;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav ul li {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

header nav ul li:first-child{
    padding-left: 0;
}

header nav ul li a{
    border-radius: 2.5vw;
    padding: 0.5rem;
    text-decoration:none;
}

/* Mouse moves off a Navbar Link*/
header nav ul li a:not(:hover) {
    background-color: var(--primary-color-dark);
    color: var(--secondary-color-light);
    transition: background-color var(--navbar-shift-time), color var(--navbar-shift-time);
}

/* Tabs/Mouse moves onto a Navbar Link*/
header nav ul li a:hover,
header nav ul li a:focus {
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
    transition: background-color var(--navbar-shift-time), color var(--navbar-shift-time);
}

/* Indicates Active Page, or a page was clicked*/
header nav ul li.active a, header nav ul li a:active {
    background-color: var(--secondary-color-light);
    color: var(--primary-color-dark);
}

/* Main Content Styles */
main{
    font-size: 1.5rem;
    padding: 0 25vw 0 25vw;
}

main .postlist {
    list-style-type: none;
}

/* Webring Styles */
.webring {
    align-items: center;
    background-color: var(--primary-color-dark);
    border-radius: 2.5vw;
    display: none;
    font-size: 1rem;
    justify-content: space-evenly;
    margin: auto 25vw 0.75vh 25vw;
    outline: 1px solid var(--secondary-color-dark);
    align-text: center;
}

/* Footer Styles */
footer{
    background-color: var(--primary-color-dark);
    border-radius: 2.5vw 2.5vw 0 0;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-top: auto;
    outline: 1px solid var(--secondary-color-dark);
    width: 100%;
}

footer p{
    padding-right: 1rem;
}


footer .banners {
    padding-top: 0.75rem;
    padding-left: 1rem;
}


/* Small Window */
@media(max-width: 900px) {
    main {
        padding: 0 6vw 0 6vw;
    }
    .webring {
        margin: auto 6vw 0.75vh 6vw;
    }
}

/* Mobile */
@media(max-width: 767px) { 

    header{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    header h1 {
        color: var(--secondary-color-light);
        font-size: 2rem;
        font-weight: bold;
        margin-left: 0;
        text-align: center;
    }

    header nav {
        justify-content: center;
        margin: 0;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        font-size: 1rem;
        font-weight: bold;
    }

    header nav ul li a{
        border-radius: 15%;
        padding: 0.25rem;
    }

    main{
        font-size: 1rem;
    }

    .webring {
        font-size: 0.75rem;
    }
}
